<h5 style="text-align:center;">admin dashboard</h5>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Last signed in</th>
    <th>Sign In Attempt</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.role %></td>
      <td><%=  %></td>
    </tr>
  <% end %>
</table>

<style>
