<h1 style="text-align:center">ALL Question and Answer</h1><hr>
<div class="container">
<% @questions.each do |question| %>


  <div class="card m-2 " style="width: 80rem;">
    <%= link_to "Add Answer", new_question_option_path(question) %>

  
  
    <div class="card-body ">
    <div class="container d-flex justify-content-between pe-2 ">
       <h5 class="card-title"><b>Question :-  <%= question.id %>. </b><%= question.text %></h5>
       <%# <p>Language:-<%= question.language<br>Level:-<%= question.q_level<br>Type:-<%= question.q_type%></p> 
    </div>
      
       <% question.options.each do |option| %>
          <ul>
            <li><%=  radio_button 'option', 'ans', option.text %> <%=option.text%>

           
          
             <% if option.correct ==  true %>
                <%# radio button with value "my_value" has been selected %>
                 "Correct Answer"
             <% else %>
                <%# # radio button with value "my_value" has not been selected %>
                 "Wrong Answer"
              <%end%></li>
          </ul> 
       <%end%>
       <%= link_to "Hide options", questions_path(question) %>
      
    </div>
  </div>

<% end %>
</div>