<%= form_with model: [ @optionable, @optionable.options.build ] do |f| %>

  <div class="container-sm">  
    <div class="row mb-3 mt-5">
      <strong><%= f.label :enter_answer %></strong>
      <%= f.text_field :text, placeholder: "Enter Question" %>
    </div>

      <strong>Correct Answer</strong>
      <div class="column mb-3">
        <%= f.label :true %>
        <%= f.radio_button :correct, 'true' %>    
      </div>
            
      <div class="column mb-3">
        <%= f.label :false %>
        <%= f.radio_button :correct,  'false'%>    
      </div>

    <%= f.submit "submit", class:"btn btn-success mt-3" %>
  </div>

<%end %>