<div class="container">
<h1 style="text-align:center;color:white;background-color:red">Edit Test </h1>
  <div class="card m-2 " style="width: 80rem;">
    <div class="card-body ">
    
      <%= form_with model: @test_question do |f| %>
        <div class="container-sm">

          <div class="row mb-3 mt-2">
            <strong><%= f.label :enter_description %></strong>
            <%= f.text_field :description, placeholder: "Enter description", autofocus: true, class: "form-control" %>
          </div>

         

            <div class="column mb-3 mt-2">
              <strong><%= f.label :select_language_of_question %></strong>
              <%= f.select :language_id, Language.pluck(:name, :id), {}, {data: {controller: 'slim'}}  %>
              <%# <!-- Button trigger modal -->
              <%= link_to 'Add New Language', create_ajax_languages_path , class: "btn btn-warning", data: { bs_toggle: 'modal',
                bs_target: '#newLanguageModal' } %>
              

              <!-- Modal -->
              <%# <div class="modal fade" id="newLanguageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Language</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= form_with model: @language, local: false do |f1| %>
                 
                        <%# <div class="row mb-3 mt-2">
                          <strong><%= f1.label :enter_language %></strong>
                          <%# <%= f1.text_field :name, placeholder: "Enter new language", autofocus: true, class: "form-control" %>
                        <%# </div>

                        <%= f1.button "Submit", class:"btn btn-success mt-3" %>
                      <%# <%end%>
                    <%# </div>
                    
                  </div>
                </div>
              </div> %> 
              
            </div>

            <div class="column mb-3 mt-2">
              <strong><%= f.label :select_topic_of_question %></strong>
              <%= f.select :topic_id, Topic.pluck(:name, :id)  %>

            </div>

             <div class="column mb-3 mt-2">
              <strong><%= f.label :select_difficulty_level %></strong>
              <%= f.select :difficulty, TestQuestion.difficulties.keys.to_a %>

            </div>

           <div class="column mb-3 mt-2">
              <strong><%= f.label :select_question_type %></strong>
              <%= f.select :question_type, TestQuestion.question_types.keys.to_a %>

            </div>

            <div class="column mb-3 mt-2">
              <strong><%= f.label :total_number_of_question %></strong>
              <%= f.number_field :no_of_question %>
            </div>

            <div class="column mb-3 mt-2">
              <strong><%= f.label :passing_marks %></strong>
              <%= f.number_field :passing_marks %>
            </div>

            <div class="column mb-3 mt-2">
              <strong><%= f.label :full_marks %></strong>
              <%= f.number_field :full_marks %>
            </div>

            <div class="row mb-3 mt-2">
              <strong><%= f.label :coverpage_of_test %></strong>
              <%= f.file_field :image %>
            </div>

            <h3 style="color:blue;text-align:center">Add Questions and Options :- <%= @test_question.no_of_question %></h3><hr><br>

          <%= f.submit "submit", class:"btn btn-success mt-3" %>
        </div>

      <%end%>
    </div>
  </div>

</div>

