<nav class="navbar navbar-expand-lg  " style="background-color: #3f3860;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" <%= link_to "Home", root_path %> </a>
        </li>

        <% if user_signed_in? %> 

          <a class="nav-link active text-white" href="#"><%= current_user.role.upcase %></a>
          
          <% if current_user.role.eql? "user" %> 

            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Profile</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Start Test</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Past Test</a>
            </li>

          <% elsif current_user.role.eql? "admin" %> 
            
            <li class="nav-item">
              <a class="nav-link active text-white" href="#">View Users</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Create Test</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" <%= link_to "Questions", questions_path %></a>
            </li>

          <%end%>

        <%else%>

          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Start Test</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Contact us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text-white" href="#">About us</a>
          </li>

        <%end%>

      </ul>
      
      <% if user_signed_in? %>      
        <%= link_to "Log Out" , destroy_user_session_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger me-2"  %> </a>
        
      <%else%>    
        <%= link_to "Sign up",  new_user_registration_path(@user), class: "btn btn-success me-2" %>
        <%= link_to "Log in",  new_user_session_path(@user), class: "btn btn-success me-2" %>
      <%end%>
      
    </div>
  </div>
</nav>